<div *ngIf="!isLoginToken">
  <button mat-button class="matero-toolbar-button matero-avatar-button etc-avatar-custom etc-toolbar-custom"
    href="javascript:void(0)" [matMenuTriggerFor]="menu">
    <img class="matero-avatar etc-avatar-custom" src="assets/images/avatar.jpg" width="32" alt="avatar" />
    <span class="matero-username" fxHide.lt-sm>{{userName}}</span>
    <mat-icon fxHide.lt-sm>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a (click)="showChangePassWord()" mat-menu-item>
      <mat-icon>vpn_key</mat-icon>
      <span>{{ 'user.change_password' | translate }}</span>
    </a>
    <a (click)="logout()" mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ 'user.logout' | translate }}</span>
    </a>
  </mat-menu>
</div>
<style>
  .etc-avatar-custom {
    border: 1px solid white;
    margin: -2px -1px -2px -1px;
  }

  .etc-toolbar-custom {
    border: 1px solid white !important;
    line-height: 30px !important;
    padding: 0 !important;
  }
</style>
