<div class="form-field-full">
  <form [formGroup]="formChangeCard" class="form-field-full">
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="33.33" fxFlex.lt-sm="100">
        <mat-form-field required appearance="outline">
          <mat-label>{{'customer-management.changeLockModalForm.newSerial' | translate}} <span class="required">*</span>
          </mat-label>
          <input matInput placeholder="{{'customer-management.errorMessageChangeLockForm.newSerial' | translate}}"
            formControlName="rfidSerial" #serialNumber>
          <button mat-button *ngIf="formChangeCard.controls.rfidSerial.value" class="showclear" matSuffix
            mat-icon-button (click)="formChangeCard.controls.rfidSerial.setValue(null); $event.stopPropagation()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="formChangeCard.get('rfidSerial').errors?.required">
            {{'customer-management.errorMessageChangeLockForm.enter_newSerial' | translate}}
          </mat-error>
          <mat-error *ngIf="formChangeCard.get('rfidSerial').errors?.maxlength">
            {{'common.validate.maxlength-50' | translate}}
          </mat-error>
          <mat-error *ngIf="formChangeCard.get('rfidSerial').errors?.pattern">
            {{'contractNew.invalid-rfid-pattern' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="33.33" fxFlex.lt-sm="100" class="readonly">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'customer-management.newVehicleForm.staff' | translate }} <span class="required">*</span>
          </mat-label>
          <input matInput placeholder="{{ 'customer-management.newVehicleForm.staff' | translate }}"
            formControlName="staff" [matAutocomplete]="autoStaff"
            [readonly]="formChangeCard.value.typeChange=='2' || dataModel.isLoginToken" />
          <button mat-button
            *ngIf=" formChangeCard.controls.staff.value && formChangeCard.value.typeChange=='1' && !dataModel.isLoginToken"
            matSuffix mat-icon-button type="button"
            (click)="formChangeCard.controls.staff.setValue(''); $event.stopPropagation()" class="showclear">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="formChangeCard.controls.staff.errors?.required">
            {{ 'contractAdd.error-required-staff' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-autocomplete #autoStaff="matAutocomplete" [displayWith]="displayFnStaff">
          <mat-option *ngIf="isLoadingStaff">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-option>
          <ng-container *ngIf="!isLoadingStaff">
            <mat-option *ngFor="let staff of listStaff" [value]="staff">
              <div innerHTML="{{ staff?.username | highlight: formChangeCard.controls.staff.value}}"></div>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </div>
      <div fxFlex="33.33" fxFlex.lt-sm="100" class="readonly">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'customer-management.changeLockModalForm.dateChange' | translate }}
          </mat-label>
          <input matInput placeholder="{{ 'customer-management.changeLockModalForm.dateChange' | translate }}"
            formControlName="dateChange" readonly />
        </mat-form-field>
      </div>
    </div>
    <common-list #crmtable [headerTable]="'support-after-sale.transfer-own-vehicle.profile-vehicle-attach'"
      [dataSource]="dataModel.dataSourceProfile" [isLoading]="isLoadingProfile" [isPaging]="false"
      [stickyHeight]="getHeight(dataModel.dataSourceProfile)" [totalRecord]="totalRecord" [showHeader]="false"
      [columns]="columnProfiles" [pageIndex]="pageIndex">
      <custom-mat-column columnName="actions">
        <ng-template let-item let-index="index">
          <!-- <button mat-icon-button *ngIf="item.vehicleProfileId" type="button">
                <mat-icon svgIcon="ic_download" matTooltip="{{ 'change_card.download' | translate }}"
                  (click)="downLoadFile(item)"></mat-icon>
              </button>
              <button mat-icon-button type="button">
                <mat-icon svgIcon="ic_Delete" matTooltip="{{ 'change_card.delete' | translate }}"
                  (click)="removeSelectedFile(item, index)">
                </mat-icon>
              </button> -->
        </ng-template>
      </custom-mat-column>
    </common-list>

    <br>
    <div class="form-field-full">
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="50" fxFlex.lt-sm="100">
          <div fxLayout="row wrap" fxLayoutGap="20px grid" class="readonly">
            <div fxFlex="100" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>
                  {{ 'common.reason' | translate }}
                  <span class="required">*</span>
                </mat-label>
                <mat-select formControlName="reason" (selectionChange)="getFees()">
                  <ng-container *ngFor="let item of dataReasonType">
                    <mat-option [value]="item.id">{{ item.name }}</mat-option>
                  </ng-container>
                </mat-select>
                <button *ngIf="formChangeCard.controls.reason.value" matSuffix mat-icon-button type="button"
                  class="btn-clear-drop"
                  (click)="formChangeCard.controls.reason.setValue(null); $event.stopPropagation();">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="formChangeCard.get('reason').errors?.required">
                  {{ 'common.invalid.reason' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="20px grid" class="readonly">
            <div fxFlex="100" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>{{'update-cancel-ticket-no-refund.source-money-paid' | translate}} <span
                    class="required">*</span>
                </mat-label>
                <input matInput style="height: 0px;" />
                <div fxLayout="row wrap" fxLayoutGap="4px grid" style="height: 10px;" class="radio-stl">
                  <mat-radio-group formControlName="payMoney">
                    <mat-radio-button value="0">
                      {{'update-cancel-ticket-no-refund.cash' | translate}}</mat-radio-button>
                    <mat-radio-button value="1" class="ml10">
                      {{'update-cancel-ticket-no-refund.minus-account-ETC' | translate}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxFlex="50" fxFlex.lt-sm="100">
          <div class="crm__table">
            <table mat-table [dataSource]="dataModel.dataSourceFee" #tableFee>
              <ng-container matColumnDef="fee" style="width:50%">
                <th mat-header-cell *matHeaderCellDef>{{
                  'support-after-sale.transfer-own-vehicle.formCaculateChangeFee.feeType' | translate }}</th>
                <td mat-cell *matCellDef="let row">
                  {{ row.fee }}
                </td>
                <td mat-footer-cell *matFooterCellDef style="font-weight: bold;">
                  {{ 'support-after-sale.transfer-own-vehicle.total_fee' | translate }}
                </td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef style="text-align: right !important;">
                  {{ 'support-after-sale.transfer-own-vehicle.formCaculateChangeFee.price' | translate }}
                </th>
                <td mat-cell *matCellDef="let row" class="ui-text-right">
                  {{ row.price | number }}
                </td>
                <td mat-footer-cell *matFooterCellDef class="ui-text-right" style="font-weight: bold;">
                  {{ totalCost | number }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsFee"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsFee"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumnsFee"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="form-field-full">
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="100" fxFlex.lt-sm="100">
          <div fxLayout="row wrap" fxLayoutGap="20px grid">
            <div fxFlex="100" fxFlex.lt-sm="100" style="display: contents;">
              <label>{{ 'customer-care.search-process.file' | translate }}</label>
            </div>
            <div fxFlex="100" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline" floatLabel="always" style="margin-bottom: -10px;">
                <input matInput style="height: 0px;" />
                <div fxLayout="row wrap" fxLayoutGap="4px grid" style="height: 10px;">
                  <input #chooseFile1 hidden="true" type="file" multiple onclick="this.value=null"
                    (change)="chooseFileChange($event)"
                    accept=".jpg, .png, .tiff, .bmp, .jpeg, .webp, .pdf, .doc, .docx, .xls, .xlsx" ngf-max-size="5MB" />
                  <button (click)="chooseFile1.click()" class="btn-file">{{'customer-care.search-process.chooseFile' |
                    translate}}</button>
                </div>
              </mat-form-field>
              <label class="lbl-style">{{'common.format-cc-notify' | translate}}</label>
            </div>
          </div>
        </div>
        <div fxFlex="100" fxFlex.lt-sm="100" style="margin-top: -20px;"
          [hidden]="!listFile || listFile?.data?.length === 0">
          <div class="crm__table">
            <table mat-table [dataSource]="listFile">
              <ng-container *ngFor="let item of columns" [ngSwitch]="item.field">
                <ng-container matColumnDef="{{item.field}}" *ngSwitchCase="'orderNumber'" sticky>
                  <th mat-header-cell *matHeaderCellDef style="width: 80px;">
                    {{item.i18n | translate}}</th>
                  <td mat-cell *matCellDef="let row;let i = index" class="ui-text-center" style="width: 80px;">
                    {{(i+1) + (paginator.pageIndex * paginator.pageSize)}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="{{item.field}}" *ngSwitchCase="'action'">
                  <th mat-header-cell *matHeaderCellDef style="width: 120px;">{{item.i18n |
                    translate}}</th>
                  <td mat-cell *matCellDef="let row;" class="ui-text-center" style="width: 120px;">
                    <mat-icon color="primary" *ngIf="row.fullBase64" style="margin-right: 5px;"
                      class="delete-file btn-delete-file" (click)="onDownloadFile(row)"
                      matTooltip="{{'common.downloadFile' | translate}}">
                      download
                    </mat-icon>
                    <mat-icon color="primary" *ngIf="row.fullBase64" style="margin-right: 5px;"
                      class="delete-file btn-delete-file" (click)="onViewFile(row)"
                      matTooltip="{{'common.viewFile' | translate}}">
                      visibility
                    </mat-icon>
                    <mat-icon color="warn" class="delete-file btn-delete-file" style="margin-left: 5px;"
                      (click)="onDeleteFile(row)"
                      matTooltip="{{'customer-care.search-process.deleteFile' | translate}}">
                      close
                    </mat-icon>
                  </td>
                </ng-container>
                <ng-container matColumnDef="{{item.field}}" *ngSwitchDefault>
                  <th mat-header-cell *matHeaderCellDef [ngStyle]="{ 'min-width': item.width }">
                    {{item.i18n | translate}}</th>
                  <td mat-cell *matCellDef="let row;" [ngStyle]="{ 'min-width': item.width }">
                    {{row[item.field]}}
                  </td>
                </ng-container>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <span class="noRecored" *ngIf="!listFile || listFile?.data?.length === 0">
              {{'common.noRecord' | translate}}
            </span>
          </div>
          <div>
            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
