pdf-viewer {
    display: block;
    height: 75vh !important;
}

.lbl-style {
    position: relative;
    bottom: 10px;
}

.icon-close {
    color: red;
    float: right;
    cursor: pointer;
    position: relative;
    bottom: 10px;
    left: 10px;
}