<div *ngIf="hasPermission(permissionApp.CC_07)">
  <page-header></page-header>
  <div class="form-field-full">
    <form [formGroup]="formInformation" class="form-field-full">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'support-after-sale.merge-contract.title-search' | translate | uppercase}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="row wrap" fxLayoutGap="20px grid">
            <div fxFlex="33.33" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'support-after-sale.merge-contract.titleAutoComplete' | translate }} <span
                    class="required">*</span></mat-label>
                <input matInput [matAutocomplete]="auto" formControlName='searchContract' #enter_phone
                  autoFocus="enter_phone"
                  placeholder="{{ 'support-after-sale.transfer-own-vehicle.enter_phone' | translate }}">
                <button mat-button *ngIf="formInformation.controls.searchContract.value" class="showclear" matSuffix
                  mat-icon-button
                  (click)="formInformation.controls.searchContract.setValue(null); $event.stopPropagation()"
                  type="button">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-error>{{ 'support-after-sale.transfer-own-vehicle.paper-or-phone' | translate }} </mat-error>
              </mat-form-field>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText"
                (optionSelected)="onSelectedCustomer($event)">
                <mat-option *ngIf="isLoadingAuto">
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-option>
                <ng-container *ngIf="!isLoadingAuto">
                  <mat-option *ngFor="let state of filteredStates" [value]="state">
                    <div innerHTML="{{ state?.custName | highlight: formInformation.controls.searchContract.value }}
                  {{state.documentNumber| highlight: formInformation.controls.searchContract.value }}">
                    </div>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </div>
          </div>

          <div fxLayout="row wrap" fxLayoutGap="20px grid" class="readonly">
            <div fxFlex="33.33" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'support-after-sale.merge-contract.type_custommer' | translate }}</mat-label>
                <input matInput [(ngModel)]="selectedCustomer.custTypeName" [ngModelOptions]="{standalone: true}"
                  readonly>
              </mat-form-field>
            </div>
            <div fxFlex="33.33" fxFlex.lt-sm="100"
              *ngIf="selectedCustomer.custTypeId == CUSTOMER_TYPE_ID.CA_NHAN_TRONG_NUOC || CUSTOMER_TYPE_ID.CA_NHAN_NUOC_NGOAI">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'customer.code' | translate }}</mat-label>
                <input matInput [(ngModel)]="selectedCustomer.custId" [ngModelOptions]="{standalone: true}" readonly>
              </mat-form-field>
            </div>
            <div fxFlex="33.33" fxFlex.lt-sm="100"
              *ngIf="selectedCustomer.custTypeId == CUSTOMER_TYPE_ID.CONG_TY_CO_PHAN && CUSTOMER_TYPE_ID.CONG_TY_TNHH
        && CUSTOMER_TYPE_ID.DOANH_NGHIEP_NHA_NUOC && CUSTOMER_TYPE_ID.DOANH_NGHIEP_TU_NHAN && CUSTOMER_TYPE_ID.CO_QUAN_NHA_NUOC">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'contractAdd.company_code' | translate }}</mat-label>
                <input matInput [(ngModel)]="selectedCustomer.custId" [ngModelOptions]="{standalone: true}" readonly>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row wrap" fxLayoutGap="20px grid" class="readonly">
            <div fxFlex="33.33" fxFlex.lt-sm="100"
              *ngIf="selectedCustomer.custTypeId == CUSTOMER_TYPE_ID.CA_NHAN_TRONG_NUOC || CUSTOMER_TYPE_ID.CA_NHAN_NUOC_NGOAI">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'support-after-sale.merge-contract.first-and-last name' | translate }}</mat-label>
                <input matInput [(ngModel)]="selectedCustomer.custName" [ngModelOptions]="{standalone: true}" readonly>
              </mat-form-field>
            </div>
            <div fxFlex="33.33" fxFlex.lt-sm="100"
              *ngIf="selectedCustomer.custTypeId == CUSTOMER_TYPE_ID.CONG_TY_CO_PHAN && CUSTOMER_TYPE_ID.CONG_TY_TNHH
        && CUSTOMER_TYPE_ID.DOANH_NGHIEP_NHA_NUOC && CUSTOMER_TYPE_ID.DOANH_NGHIEP_TU_NHAN && CUSTOMER_TYPE_ID.CO_QUAN_NHA_NUOC">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'contractAdd.company_name' | translate }}</mat-label>
                <input matInput [(ngModel)]="selectedCustomer.custName" [ngModelOptions]="{standalone: true}" readonly>
              </mat-form-field>
            </div>
            <div fxFlex="33.33" fxFlex.lt-sm="100"
              *ngIf="selectedCustomer.custTypeId == CUSTOMER_TYPE_ID.CA_NHAN_TRONG_NUOC || CUSTOMER_TYPE_ID.CA_NHAN_NUOC_NGOAI">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'customer.dob' | translate }}</mat-label>
                <input matInput [(ngModel)]="birthDayDate" [ngModelOptions]="{standalone: true}" readonly>
              </mat-form-field>
            </div>
            <div fxFlex="33.33" fxFlex.lt-sm="100"
              *ngIf="selectedCustomer.custTypeId == CUSTOMER_TYPE_ID.CONG_TY_CO_PHAN && CUSTOMER_TYPE_ID.CONG_TY_TNHH &&
        CUSTOMER_TYPE_ID.DOANH_NGHIEP_NHA_NUOC && CUSTOMER_TYPE_ID.DOANH_NGHIEP_TU_NHAN && CUSTOMER_TYPE_ID.CO_QUAN_NHA_NUOC">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'contractAdd.founding' | translate }}</mat-label>
                <input matInput [(ngModel)]="birthDayDate" [ngModelOptions]="{standalone: true}" readonly>
              </mat-form-field>
            </div>
            <div fxFlex="33.33" fxFlex.lt-sm="100"
              *ngIf="selectedCustomer.custTypeId == CUSTOMER_TYPE_ID.CA_NHAN_TRONG_NUOC || CUSTOMER_TYPE_ID.CA_NHAN_NUOC_NGOAI">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'customer.gender' | translate }}</mat-label>
                <input matInput [(ngModel)]="selectedCustomer.gender" [ngModelOptions]="{standalone: true}" readonly>
              </mat-form-field>
            </div>
            <div fxFlex="33.33" fxFlex.lt-sm="100"
              *ngIf="selectedCustomer.custTypeId == CUSTOMER_TYPE_ID.CONG_TY_CO_PHAN && CUSTOMER_TYPE_ID.CONG_TY_TNHH
        && CUSTOMER_TYPE_ID.DOANH_NGHIEP_NHA_NUOC && CUSTOMER_TYPE_ID.DOANH_NGHIEP_TU_NHAN && CUSTOMER_TYPE_ID.CO_QUAN_NHA_NUOC">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'customer-management.formCustomerRegister.taxNo' | translate }}</mat-label>
                <input matInput [(ngModel)]="selectedCustomer.taxCode" [ngModelOptions]="{standalone: true}" readonly>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row wrap" fxLayoutGap="20px grid" class="readonly">
            <div fxFlex="33.33" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'support-after-sale.merge-contract.identity_card' | translate }}</mat-label>
                <input matInput [(ngModel)]="selectedCustomer.documentNumber" [ngModelOptions]="{standalone: true}"
                  readonly>
              </mat-form-field>
            </div>
            <div fxFlex="33.33" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'support-after-sale.merge-contract.date_issue' | translate }}</mat-label>
                <input matInput [(ngModel)]="dateOfIssue" [ngModelOptions]="{standalone: true}" readonly>
              </mat-form-field>
            </div>
            <div fxFlex="33.33" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'support-after-sale.merge-contract.address_issue' | translate }}</mat-label>
                <input matInput [(ngModel)]="selectedCustomer.placeOfIssue" [ngModelOptions]="{standalone: true}"
                  readonly>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row wrap" fxLayoutGap="20px grid" class="readonly">
            <div fxFlex="33.33" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'customer.address' | translate }}</mat-label>
                <input matInput [(ngModel)]="selectedCustomer.areaName" [ngModelOptions]="{standalone: true}" readonly>
              </mat-form-field>
            </div>
            <div fxFlex="33.33" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'support-after-sale.merge-contract.phoneNumber' | translate }}</mat-label>
                <input matInput [(ngModel)]="selectedCustomer.phoneNumber" [ngModelOptions]="{standalone: true}"
                  readonly>
              </mat-form-field>
            </div>
            <div fxFlex="33.33" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'support-after-sale.merge-contract.email' | translate }}</mat-label>
                <input matInput [(ngModel)]="selectedCustomer.email" [ngModelOptions]="{standalone: true}" readonly>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </div>

  <form [formGroup]="formSearch" class="form-field-full">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <crm-table [isLoading]="isLoading" [headerTable]="'support-after-sale.merge-contract.contractList'"
          [totalRecord]="totalRecord" [dataSource]="listVehicleSource" [isPaging]="true" (onPage)="onPageChange($event)"
          [showHeader]="true" [displayedColumns]="displayedColumnsContractEnd" [pageIndex]="pageIndex" #tableVehicleEnd>
          <ng-container *ngFor="let item of columnsContractEnd ;let i = dataIndex" [ngSwitch]="item.field">
            <ng-container matColumnDef="{{item.field}}" *ngSwitchDefault>
              <th mat-header-cell *matHeaderCellDef>{{item.i18n | translate}}</th>
              <td mat-cell *matCellDef="let row;">
                {{row[item.field]}}
              </td>
            </ng-container>
            <ng-container matColumnDef="{{item.field}}" *ngSwitchCase="'orderNumberContractEnd'">
              <th mat-header-cell *matHeaderCellDef>{{item.i18n | translate}}</th>
              <td mat-cell *matCellDef="let row;let i = dataIndex" class="ui-text-center">
                {{i+1}}
              </td>
            </ng-container>

            <ng-container matColumnDef="{{item.field}}" *ngSwitchCase="'status'">
              <th mat-header-cell *matHeaderCellDef>{{item.i18n | translate}}</th>
              <td mat-cell *matCellDef="let row;let i = dataIndex" class="ui-text-center">
                <span *ngIf="row.status == '1'">{{'common.deadActive' | translate }}</span>
                <span *ngIf="row.status == '2'">{{'common.active' | translate }}</span>
                <span *ngIf="row.status == '3'">{{'common.cancel' | translate }}</span>
                <span *ngIf="row.status == '4'">{{'common.end' | translate }}</span>
              </td>
            </ng-container>
          </ng-container>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              {{'support-after-sale.merge-contract.select_contract' | translate }}
            </th>
            <td mat-cell *matCellDef="let row" style="text-align: center;">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
        </crm-table>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'support-after-sale.transfer-own-vehicle.profile-vehicle-attach' | translate | uppercase}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" fxLayoutGap="20px grid">
          <div fxFlex="33.33" fxFlex.lt-sm="100">
            <mat-form-field appearance="outline">
              <mat-label>{{'support-after-sale.transfer-own-vehicle.choose-form' | translate}}</mat-label>
              <mat-select formControlName="license" [(ngModel)]="selectLicence">
                <mat-option>{{ 'common.default-select' | translate }}</mat-option>
                <ng-container *ngFor="let item of listOptionLicense">
                  <mat-option [value]="item.id">{{item.value}}</mat-option>
                </ng-container>
              </mat-select>
              <button *ngIf="formSearch.controls.license.value" matSuffix mat-icon-button type="button"
                class="btn-clear-drop" (click)="formSearch.controls.license.setValue(null); $event.stopPropagation();">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div>
            <button mat-raised-button color="primary" [disabled]="!selectLicence"
              (click)="chooseFileChange($event)">{{'support-after-sale.transfer-own-vehicle.choose-file' |
              translate}}</button>
          </div>
        </div>

        <div class="crm__table">
          <table mat-table [dataSource]="dataSourceProfile" #tableProfile>
            <ng-container matColumnDef="stt">
              <th mat-header-cell *matHeaderCellDef style="width:60px;">
                {{'support-after-sale.transfer-own-vehicle.updateProfileTable.stt' | translate}}</th>
              <td mat-cell *matCellDef="let row; let i= index"
                style="text-align: center; padding-left: 0px !important;">
                {{i + 1 + indexPaginator}}
              </td>
            </ng-container>

            <ng-container matColumnDef="documentType">
              <th mat-header-cell *matHeaderCellDef>
                {{'support-after-sale.transfer-own-vehicle.updateProfileTable.documentType' |
                translate}}</th>
              <td mat-cell *matCellDef="let row; let i= index">
                {{row.documentType}}
              </td>
            </ng-container>

            <ng-container matColumnDef="documentName">
              <th mat-header-cell *matHeaderCellDef>
                {{'support-after-sale.transfer-own-vehicle.updateProfileTable.documentName' |
                translate}}</th>
              <td mat-cell *matCellDef="let row; let i= index">
                {{row.documentName}}
              </td>
            </ng-container>

            <ng-container matColumnDef="actionDelete">
              <th mat-header-cell *matHeaderCellDef style="width:100px">
                {{'common.action' | translate}}</th>
              <td mat-cell *matCellDef="let row;let i= index" class="ui-text-center" style="padding-right: 0px;">
                <button mat-icon-button>
                  <mat-icon svgIcon="ic_xem"
                    matTooltip="{{'support-after-sale.transfer-own-vehicle.view-profile' | translate}}"
                    (click)="viewProfile(row)">
                  </mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon svgIcon="ic_Delete"
                    matTooltip="{{'support-after-sale.transfer-own-vehicle.delete' | translate}}"
                    (click)="deleteProfile(i)">
                  </mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsProfile"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsProfile"></tr>
          </table>
          <span class="noRecored" *ngIf="listDataProfile.length == 0 ">
            {{'common.noRecord' |translate}}
          </span>
          <mat-paginator [pageSizeOptions]="pageSizeList" [pageSize]="10" [length]="listDataProfile.length"
            showFirstLastButtons (page)="onPaginateChange($event)">
          </mat-paginator>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="20px grid">
          <div fxFlex="33.33" fxFlex.lt-sm="100" style="margin-top: 20px;">
            <mat-form-field appearance="outline">
              <mat-label>{{'support-after-sale.detach-contract.reason-end' | translate}} <span class="required">*</span>
              </mat-label>
              <mat-select formControlName="lydo">
                <ng-container *ngFor="let item of dataReasonType">
                  <mat-option [value]="item.id">{{ item.name }}</mat-option>
                </ng-container>
              </mat-select>
              <button *ngIf="formSearch.controls.lydo.value" matSuffix mat-icon-button type="button"
                class="btn-clear-drop" (click)="formSearch.controls.lydo.setValue(null); $event.stopPropagation();">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="formSearch.get('lydo').invalid">
                {{'support-after-sale.detach-contract.choose-reason-end' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="66.67" fxFlex.lt-sm="100" style="margin-top: 20px;">
            <div class="crm__table">
              <table mat-table [dataSource]="dataFeesType" #tableFee>
                <ng-container *ngFor="let item of columnsFee " [ngSwitch]="item.field">
                  <ng-container matColumnDef="{{item.field}}" *ngSwitchDefault>
                    <th mat-header-cell *matHeaderCellDef>{{item.i18n | translate}}</th>
                    <td mat-cell *matCellDef="let row;">
                      {{row[item.field]}}
                    </td>
                  </ng-container>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsFee"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsFee">
                </tr>
              </table>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="flex-end" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div>
        <button mat-raised-button color="primary" style="margin-top: 10px;"
          [disabled]="formSearch.invalid || (selection.selected.length==0)"
          (click)="actionEndContracts()">{{'support-after-sale.detach-contract.end_contract' | translate}}</button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="!hasPermission(permissionApp.CC_07)">
  <error-code code="403" [title]="'common.invalid-permission-title'" [message]="'common.invalid-permission'">
  </error-code>
</div>
