.noRecored {
    text-align: center;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #c9cdd2;
    border-right: 1px solid #c9cdd2;
    border-left: 1px solid #c9cdd2;
    font-weight: 700;
}