<div *ngIf="hasPermission(permissionApp.CC_03)">
  <page-header></page-header>
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.lt-sm="100">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'common.title' | translate | uppercase }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-field-full">
            <div fxLayout="row wrap" fxLayoutGap="20px grid">
              <div fxFlex="33.33" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'reset-agency.account-agency' | translate }}</mat-label>
                  <input matInput [(ngModel)]="searchModel.keyword" #code autoFocus="code" (keyup.enter)="onSearch()"
                    placeholder="{{ 'reset-agency.enter-account-agency' | translate }}" />
                  <button mat-button *ngIf="searchModel.keyword" class="showclear" matSuffix mat-icon-button
                    (click)="searchModel.keyword=''; $event.stopPropagation()" type="button">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-card>
          <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="flex-end" fxLayoutGap="10px"
            fxLayoutGap.xs="0" style="margin-right: 8px !important;">
            <button mat-raised-button color="primary" (click)="onSearch()">{{'common.button.search' |
              translate}}</button>
          </div>
          <common-list [headerTable]="'reset-agency.title.list'" [dataSource]="dataModel.dataSource" [isPaging]="true"
            [totalRecord]="totalRecord" [columns]="columns" (page)="onPageChange($event)" [pageIndex]="pageIndex"
            [isLoading]="isLoading" [startRecord]="searchModel.startrecord" [showHeader]="true">
            <ng-template vtsTemplate="fullName" let-row>
              <span>{{row?.lastName}} {{row?.firstName }}</span>
            </ng-template>
            <ng-template vtsTemplate="customPhoneCTV" let-row>
              {{row.attributes?.phone_number_ctv}}
            </ng-template>
            <ng-template vtsTemplate="customShopId" let-row>
              {{row.attributes?.shop_id[0]}}
            </ng-template>
            <ng-template vtsTemplate="actions" let-row>
              <button mat-icon-button (click)="resetAccount(row)">
                <mat-icon svgIcon="ic_Change" matTooltip="{{'reset-agency.reset-pass' | translate}}">
                </mat-icon>
              </button>
              <button mat-icon-button (click)="lockAccount(row)"
                *ngIf="!hasPermission(permissionApp.CRM_CUST_27) && !row.enabled">
                <mat-icon svgIcon="ic_Lock" matTooltip="{{'reset-agency.unlock-account' | translate}}">
                </mat-icon>
              </button>
              <button mat-icon-button (click)="unlockAccount(row)"
                *ngIf="!hasPermission(permissionApp.CRM_CUST_27) && row.enabled">
                <mat-icon svgIcon="ic_unLock" matTooltip="{{'reset-agency.lock-account' | translate}}">
                </mat-icon>
              </button>
            </ng-template>
          </common-list>
        </mat-card>
      </mat-accordion>
    </div>
  </div>
</div>
<div *ngIf="!hasPermission(permissionApp.CC_03)">
  <error-code code="403" [title]="'common.invalid-permission-title'" [message]="'common.invalid-permission'">
  </error-code>
</div>
