<div *ngIf="hasPermission(permissionApp.CC_02)">
  <page-header></page-header>
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.lt-sm="100">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'common.title' | translate | uppercase }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="formSearch" class="form-field-full">
            <div fxLayout="row wrap" fxLayoutGap="20px grid">
              <div fxFlex="100" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline" class="common-field
                        mat-form-field-should-float">
                  <mat-label> {{ 'customer-care.search-information-customer.condition_search' | translate }}
                  </mat-label>
                  <input matInput style="height: 0px;" />
                  <div fxLayout="row wrap" fxLayoutGap="4px grid" class="radio-stl" style="height: 10px;">
                    <mat-radio-group (change)="changeRadio($event)" class="font-register-service">
                      <mat-radio-button [checked]="selectedSearch === 1" value="1">{{ 'info.phoneNumber' |
                        translate }}
                      </mat-radio-button>
                      <mat-radio-button [checked]="selectedSearch === 2" style=" padding-left: 2em" value="2">{{
                        'contract.number' | translate }}
                      </mat-radio-button>
                      <mat-radio-button [checked]="selectedSearch === 3" style=" padding-left: 2em" value="3">{{
                        'vehicle.plateNumber' | translate }}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </mat-form-field>
              </div>
              <div fxFlex="32" *ngIf="selectedSearch===1 || selectedSearch===2" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline">
                  <mat-label>{{titleSearch}} *</mat-label>
                  <input formControlName="phoneAndcontractNo" matInput />
                  <button mat-button *ngIf="formSearch.controls.phoneAndcontractNo.value" class="showclear" matSuffix
                    mat-icon-button type="button" (keypress.enter)="searchInfo()"
                    (click)="formSearch.controls.phoneAndcontractNo.setValue(''); $event.stopPropagation()">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error *ngIf="this.formSearch.controls['phoneAndcontractNo'].hasError('required')">
                    {{ 'customer-care.search-information-customer.requied' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="32" *ngIf="selectedSearch===3" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'customer-care.search-information-customer.vehicle_type' | translate }}
                  </mat-label>
                  <mat-select formControlName="plateType">
                    <mat-option *ngFor="let item of listTypeVehicle" [value]="item.code">{{item.val}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="this.formSearch.controls['plateType'].hasError('required')">
                    {{ 'customer-care.search-information-customer.requied' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="2" *ngIf="selectedSearch===3" fxFlex.lt-sm="100">
              </div>
              <div fxFlex="32" *ngIf="selectedSearch===3" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'vehicle.plateNumber' | translate }}</mat-label>
                  <input formControlName="plateNumber" matInput />
                  <button mat-button *ngIf="formSearch.controls.plateNumber.value" class="showclear" matSuffix
                    mat-icon-button type="button" (keypress.enter)="searchInfo()"
                    (click)="formSearch.controls.plateNumber.setValue(''); $event.stopPropagation()">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error *ngIf="this.formSearch.controls['plateNumber'].hasError('required')">
                    {{ 'customer-care.search-information-customer.requied' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div [fxFlex]="selectedSearch===1  ? '68' : selectedSearch===2  ? '68' :'34'" fxFlex.lt-sm="100">
                <button (click)="searchInfo()" style="float: right;" mat-raised-button color="primary"
                  [disabled]="formSearch.invalid">
                  {{ 'common.button.search' | translate }}
                </button>
              </div>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-card *ngIf="activeForm">
        <mat-tab-group (selectedTabChange)="onTabChangeInfo($event)">
          <mat-tab label="{{ 'customer.info' | translate }}">
            <app-customer-info [dataCust]="dataCust" [balance]="balance">
            </app-customer-info>
          </mat-tab>
          <mat-tab label="{{ 'contract.info' | translate }}">
            <app-contract-info [dataContract]="dataCust" [dataCust]="dataCust">
            </app-contract-info>
          </mat-tab>
          <mat-tab label="{{ 'vehicle.info' | translate }}">
            <app-vehicle-info [dataVehicle]="dataModel.infoVehicle"
              [contractId]="dataContract[0].listContract[0].contractId">
            </app-vehicle-info>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>
<div *ngIf="!hasPermission(permissionApp.CC_02)">
  <error-code code="403" [title]="'common.invalid-permission-title'" [message]="'common.invalid-permission'">
  </error-code>
</div>
