<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class='view-detail'>
  <form [formGroup]='form' class='form-field-full'>
    <div class="loading-icon" *ngIf="isLoading">
      <mat-spinner diameter="30" *ngIf="isLoading" mode="indeterminate" style="margin:0 auto;"></mat-spinner>
    </div>
    <!--    Row 1-->
    <div fxLayout='row wrap' fxLayoutGap='20px grid'>
      <div fxFlex='50' fxFlex.lt-sm='100'>
        <mat-form-field appearance='outline'>
          <mat-label>{{ 'ticketExpire.ExpireCauseLevel' | translate }}<span class='required'>*</span></mat-label>
          <mat-select formControlName='levelExpire' (selectionChange)="onChangeLevelExpireCause($event)">
            <mat-option>{{ 'common.default-select' | translate }}</mat-option>
            <ng-container *ngFor='let item of lstTicketLevel'>
              <mat-option [value]='item.value'>{{item.label}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="form.get('levelExpire').errors?.required">
            {{'cateConfig.validators.requiredSelect' | translate}}
          </mat-error>
          <button mat-button matSuffix mat-icon-button *ngIf="form.controls.levelExpire.value"
            (click)="form.controls.levelExpire.setValue(null); $event.stopPropagation(); btnClear();" class="showclear"
            type="button">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxFlex='50' fxFlex.lt-sm='100'>
        <mat-form-field appearance='outline'>
          <mat-label>{{ 'ticketExpire.ExpireCauseName' | translate }}<span class='required'>*</span>
          </mat-label>
          <input trim='blur' maxlength="255" matInput placeholder="{{ 'ticketExpire.ExpireCauseName' | translate }}"
            formControlName='ticketExpireCauseName' autocomplete='off' />
          <mat-error *ngIf="form.get('ticketExpireCauseName').errors?.required">
            {{'cateConfig.validators.requiredInput' | translate}}
          </mat-error>
          <mat-error *ngIf="form.get('ticketExpireCauseName').errors?.maxlength">
            {{'cateConfig.validators.maxLength-255' | translate}}
          </mat-error>
          <button mat-button matSuffix mat-icon-button *ngIf="form.controls.ticketExpireCauseName.value "
            (click)="form.controls.ticketExpireCauseName.setValue(null); $event.stopPropagation();" class="showclear"
            type="button">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <!-- Nguyên nhân lỗi cấp 1 -->
      <div fxFlex='50' fxFlex.lt-sm='100' *ngIf="selectedExpireCauseLv==3 || selectedExpireCauseLv==2"
        [(ngModel)]="selectedLevel1" [disabled]="!selectedLevel1" [ngModelOptions]="{standalone: true}">
        <mat-form-field appearance='outline' style='width: 100%'>
          <mat-label>{{ 'ticketExpire.search.ExpireLv1' | translate }}<span class='required'>*</span>
          </mat-label>
          <mtx-select formControlName='ticketExpireLevelOne' [items]="lstExpireLvOne" bindLabel="label"
            bindValue="value" [multiple]="false" (change)="onChangLevelOne()" [(ngModel)]="searchModel1" appendTo="body"
            [notFoundText]="'common.notFound' | translate">
          </mtx-select>
          <!--          <button mat-button-->
          <!--                  matSuffix mat-icon-button-->
          <!--                  *ngIf="form.controls.ticketExpireLevelOne.value"-->
          <!--                  (click)="form.controls.ticketExpireLevelOne.setValue(null); $event.stopPropagation();"-->
          <!--                  class="showclear" type="button">-->
          <!--            <mat-icon>close</mat-icon>-->
          <!--          </button>-->
        </mat-form-field>
      </div>
      <!-- Nguyên nhân lỗi cấp 2 -->
      <div fxFlex='50' fxFlex.lt-sm='100' *ngIf="selectedExpireCauseLv==3" [(ngModel)]="selectedLevel2"
        [disabled]="!selectedLevel2" [ngModelOptions]="{standalone: true}">
        <mat-form-field appearance='outline' style='width: 100%'>
          <mat-label>{{ 'ticketExpire.search.ExpireLv2' | translate }}<span class='required'>*</span>
          </mat-label>
          <mtx-select formControlName='ticketExpireLevelTwo' [items]="lstExpireLvTwo" bindLabel="label"
            bindValue="value" [multiple]="false" appendTo="body" [(ngModel)]="searchModel2"
            [notFoundText]="'common.notFound' | translate">
          </mtx-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout='row wrap' fxLayoutGap='20px grid'>
      <div fxFlex='100' fxFlex.lt-sm='100'>
        <mat-form-field appearance='outline'>
          <mat-label>{{ 'cateConfig.ticketType.description' | translate }}</mat-label>
          <textarea maxlength="1024" formControlName='description' type='text' trim='blur' matInput
            placeholder="{{ 'cateConfig.ticketType.description' | translate }}"></textarea>
          <mat-error *ngIf="form.get('description').errors?.maxlength">
            {{'cateConfig.validators.maxLength-1024' | translate}}
          </mat-error>
          <button mat-button matSuffix mat-icon-button *ngIf="form.controls.description.value "
            (click)="form.controls.description.setValue(null); $event.stopPropagation();" class="showclear"
            type="button">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <!--    Row 2-->
    <div fxLayout='row wrap' fxLayoutGap='20px grid'>
      <div fxFlex='100' fxFlex.lt-sm='100'>
        <button  class='float-right ml-20' mat-button mat-raised-button color='secondary'
          mat-dialog-close>{{ 'ticketExpire.dialog.btnClose' | translate }}
        </button>
        <button [disabled]="isLoading" type='submit' class='float-right ml-20' mat-button mat-raised-button
          color='primary' (click)='doSave()'>{{ 'ticketExpire.dialog.btnSave' | translate }}
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
