.flex-container {
    display: flex;
    justify-content: center;
    background-color: #fff;
  }
  .footer-span{
    width: 100%;
    position: relative;
    background-color:white;
    padding: 10px;
    border-top: 1px solid #cccbcb;
    text-align: center;
    font-size: 14px;
  }
