.add {
  vertical-align: top;
  font-size: 3em;
}

.textExcel{
  width: 50%;
  padding-left: 30px;
  padding-bottom: 0;
}

.btnClose{
  font-size: 1em;
}

.label{
  font-size: 14px;
  padding-top: 0;
  padding-left: 60px;
  font-style: normal;
  margin: 0;
}

.createDate{
  padding-left: 50px;
}

.btnSearch{
  font-size: 2em;
  vertical-align: text-bottom;
  padding-left: 10px;
}

//::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
//  padding-bottom: 0;
//}

