.btn-delete-file {
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}
.noRecored {
    text-align: center;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #c9cdd2;
    border-right: 1px solid #c9cdd2;
    border-left: 1px solid #c9cdd2;
    font-weight: 700;
}