<h1 mat-dialog-title>
  {{title}}
</h1>

<div mat-dialog-content>
  <mat-label>{{messageFirst}} <br> <span style="font-weight: bold;">"{{messageBold}}"</span> {{messageLast}}</mat-label>
</div>

<div mat-dialog-actions align="center">
  <button mat-raised-button color="secondary" style="margin-bottom: 5px;margin-left: 0px !important;margin-right: 8px;"
    (click)="onDismiss()">{{ 'common.button.cancel' | translate}}</button>
  <button mat-raised-button color="primary" (click)="onConfirm()"
    style="margin-bottom: 5px;margin-right: 8px;">{{buttonNameConfirm}}</button>
</div>
