<a class="close-popup" mat-dialog-close>
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</a>
<h2 mat-dialog-title>
  {{ dataModel.titlePopup | translate }}
</h2>

<mat-dialog-content>
  <crm-table [headerTable]="'customer-care.search-information-customer.impact_history'" [totalRecord]="totalRecord"
    [isPaging]="true" [dataSource]="dataModel.dataSource" [isLoading]="isLoading" (onPage)="onPageChange($event)"
    [displayedColumns]="displayedColumns" [pageIndex]="pageIndex" [startRecord]="searchModel.startrecord">
    <ng-container *ngFor="let item of columns" [ngSwitch]="item.field">
      <ng-container matColumnDef="{{item.field}}" *ngSwitchDefault>
        <th mat-header-cell *matHeaderCellDef>{{item.i18n | translate}}</th>
        <td mat-cell *matCellDef="let row;">
          {{row[item.field]}}
        </td>
      </ng-container>
      <ng-container matColumnDef="{{item.field}}" *ngSwitchCase="'orderNumber'">
        <th mat-header-cell *matHeaderCellDef>{{item.i18n | translate}}</th>
        <td mat-cell *matCellDef="let row;let i = dataIndex" class="ui-text-center">
          {{i+1 + searchModel.startrecord}}
        </td>
      </ng-container>
      <ng-container matColumnDef="{{item.field}}" *ngSwitchCase="'descriptionContent'">
        <th mat-header-cell *matHeaderCellDef>
          {{item.i18n | translate}}</th>
        <td mat-cell *matCellDef="let item;">
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="50" autocomplete="off" maxlength="4000" [(ngModel)]="item.descriptionContent"
            readonly></textarea>
        </td>
      </ng-container>
      <ng-container matColumnDef="{{item.field}}" *ngSwitchCase="'detail'">
        <th mat-header-cell *matHeaderCellDef>{{item.i18n | translate}}</th>
        <td mat-cell *matCellDef="let row;let i = dataIndex" class="ui-text-center">
          <button mat-icon-button color="primary" (click)="viewActionAudit(row)">
            <mat-icon class="mat-18">visibility</mat-icon>
          </button>
        </td>
      </ng-container>
    </ng-container>
  </crm-table>
  <form [formGroup]="formActionAuditDetail" *ngIf="activeFormDetail">
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'customer-care.dropdown.fileType.2' | translate | uppercase }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-field-full">
            <div fxLayout="row wrap" fxLayoutGap="20px grid">
              <div fxFlex="33.33" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline">
                  <mat-label>{{'ticket-statistic.resolveDateTime' | translate}}</mat-label>
                  <input matInput formControlName="dateTime" autoFocus="dateTime" autocomplete="off" readonly />
                </mat-form-field>
              </div>
              <div fxFlex="33.33" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline" class="common-field">
                  <mat-label>{{ 'customer-care.search-cc.processUser' | translate }}
                  </mat-label>
                  <input matInput formControlName="processUser" autocomplete="off" readonly />
                </mat-form-field>
              </div>
              <div fxFlex="33.33" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline" class="common-field">
                  <mat-label>{{ 'info.actionType' | translate }}
                  </mat-label>
                  <input matInput formControlName="actionType" autocomplete="off" readonly />
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline" class="common-field">
                  <mat-label>{{ 'document.processContent' | translate }}
                  </mat-label>
                  <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="6"
                    cdkAutosizeMaxRows="50" matInput formControlName="processContent" readonly></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </form>
  <br>
  <app-log-detail *ngIf="activeFormDetail" [profileActionAuditId]="selectedRow.profileActionAuditId"
    [dataDetailProfile]="selectedRow">
  </app-log-detail>
</mat-dialog-content>
