<a class="close" (click)="onClosePopup()">
  <mat-icon class="close-icon" color="warn" #enter_close autoFocus="enter_close">close</mat-icon>
</a>
<h2 mat-dialog-title>{{header}}
</h2>

<form [formGroup]="formView">
  <div class="form-field-full">
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'ticket-error-cause.name-error-cause' | translate }} </mat-label>
          <input matInput placeholder="{{ 'ticket-error-cause.enter-name-error-cause' | translate }}"
            formControlName="name" #name autoFocus="name" readonly/>
        </mat-form-field>
      </div>
      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'ticket-error-cause.code-error-cause' | translate }} </mat-label>
          <input matInput placeholder="{{ 'ticket-error-cause.enter-code-error-cause' | translate }}"
            formControlName="code" readonly />
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'ticket-error-cause.rootCause' | translate }} </mat-label>
          <input matInput placeholder="{{ 'ticket-error-cause.enter-code-error-cause' | translate }}"
            formControlName="rootCause" readonly/>
        </mat-form-field>
      </div>
      <div fxFlex="50" fxFlex.lt-sm="100" style="margin-bottom:20px">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>{{'ticket-error-cause.status-error-cause' | translate}}</mat-label>
          <input matInput readonly />
          <div fxLayout="row wrap" fxLayoutGap="4px grid" class="radio-stl">
            <mat-radio-group class="font-register-service" formControlName="status" [disabled]="true">
              <mat-radio-button value="1">
                {{'pricelist.validity' | translate}}</mat-radio-button>
              <mat-radio-button class="ml-102" value="0">
                {{'pricelist.unValidity' | translate}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="100" fxFlex.lt-sm="100" style="margin-bottom:20px">
        <mat-form-field appearance="outline">
          <mat-label>{{'ticket-error-cause.description' | translate}}</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="50" matInput formControlName="description" autocomplete="off"
            maxlength="4000" readonly></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
<div div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="flex-end" fxLayoutGap="10px" fxLayoutGap.xs="0"
  style="margin-right: 8px;">
  <button mat-raised-button color="secondary" (click)="onClosePopup()">{{'common.button.close' | translate}}</button>
</div>
