<a class="close-popup" mat-dialog-close>
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</a>
<h2 mat-dialog-title>
  {{ 'user.change_password' | translate }}
</h2>
<form [formGroup]="formSearch" class="form-field-full">
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="100" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'user.old_password' | translate }}</mat-label>
        <input matInput formControlName="oldPass" [type]="hideOldPass ? 'password' : 'text'" />
        <button mat-button *ngIf="formSearch.controls.oldPass.value" matSuffix mat-icon-button class="hidePass"
          type="button" (click)="hideOldPass = !hideOldPass" type="button">
          <mat-icon>{{hideOldPass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formSearch.get('oldPass').errors?.required">
          {{ 'user.error_old_password' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="100" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'user.new_password' | translate }}</mat-label>
        <input matInput formControlName="newPass" [type]="hideNewPass ? 'password' : 'text'" />
        <button mat-button *ngIf="formSearch.controls.newPass.value" matSuffix mat-icon-button class="hidePass"
          type="button" (click)="hideNewPass = !hideNewPass">
          <mat-icon>{{hideNewPass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formSearch.get('newPass').errors?.required">
          {{ 'user.error_new_password' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="100" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{
          'user.confirm_new_password' | translate
          }}</mat-label>
        <input matInput formControlName="comfirmPass" [type]="hideConfirmPass ? 'password' : 'text'" />
        <button mat-button *ngIf="formSearch.controls.comfirmPass.value" matSuffix mat-icon-button class="hidePass"
          type="button" (click)="hideConfirmPass = !hideConfirmPass">
          <mat-icon>{{hideConfirmPass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formSearch.get('comfirmPass').errors">
          {{ 'user.not_match_password' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
<div fxLayout="row wrap" fxLayoutGap="20px grid">
  <div fxFlex="33.33" fxFlex.lt-sm="100"></div>
  <div fxFlex="33.33" fxFlex.lt-sm="100"></div>
  <div fxFlex="33.33" fxFlex.lt-sm="100">
    <button mat-raised-button color="primary" style="float: right;" [disabled]="formSearch.invalid"
      (click)="changePass()">
      {{ 'user.change_password' | translate }}
    </button>
  </div>
</div>
