<form [formGroup]="customerEnterpriseForm" class="form-field-full">
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="33.33" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{'customer-management.formCustomerRegister.fullName' |
          translate}} <span class="required">*</span>
        </mat-label>
        <input matInput placeholder="{{'customer-management.formCustomerRegister.fullName' |
          translate}}" formControlName="fullName" />
        <mat-error *ngIf="customerEnterpriseForm.get('fullName').errors?.required">
          {{'customer-management.errorMessage.fullName' | translate}}
        </mat-error>
        <mat-error *ngIf="customerEnterpriseForm.get('fullName').errors?.maxlength">
          {{'common.validate.maxlength-510' | translate}}
        </mat-error>
        <mat-error *ngIf="customerEnterpriseForm.get('fullName').errors?.cannotWhiteSpace">
          {{'common.space_error' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="33.33" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{'customer-management.formCustomerRegister.dateOfBirth' |
          translate}} <span class="required">*</span></mat-label>
        <input matInput placeholder="dd/mm/yyyy" maskDate [matDatepicker]="pickerDOB" [max]="maxDOB"
          formControlName="dateOfBirth" (click)="pickerDOB.open()" #dateOfBirthId>
        <mat-datepicker-toggle matSuffix *ngIf="dateOfBirthId.value" class="showclearDatePopup"
          (click)="customerEnterpriseForm.controls.dateOfBirth.setValue(null); $event.stopPropagation()">
          <mat-icon matDatepickerToggleIcon>close</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker-toggle matSuffix [for]="pickerDOB"></mat-datepicker-toggle>
        <mat-datepicker #pickerDOB></mat-datepicker>
        <mat-error *ngIf="customerEnterpriseForm.get('dateOfBirth').errors?.required">
          {{'customer-management.errorMessage.dateOfBirth' | translate}}
        </mat-error>
        <mat-error *ngIf="customerEnterpriseForm.get('dateOfBirth').hasError('matDatepickerMax')">
          {{'common.dobMax' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="33.33" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{'customer-management.formCustomerRegister.gender' |
          translate}}
        </mat-label>
        <mat-select formControlName="gender">
          <mat-option>{{ 'common.default-select' | translate }}</mat-option>
          <ng-container *ngFor="let item of listOptionGender">
            <mat-option [value]="item.code">{{item.value}}</mat-option>
          </ng-container>
        </mat-select>
        <button *ngIf="customerEnterpriseForm.controls.gender.value" matSuffix mat-icon-button type="button"
          class="btn-clear-drop"
          (click)="customerEnterpriseForm.controls.gender.setValue(null); $event.stopPropagation();">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="customerEnterpriseForm.get('gender').errors?.required">
          {{'customer-management.errorMessage.gender' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="33.33" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{'customer-management.formCustomerRegister.documentType' |
          translate}} <span class="required">*</span></mat-label>
        <mat-select formControlName="documentType">
          <mat-option>{{ 'common.default-select' | translate }}</mat-option>
          <ng-container *ngFor="let item of listOptionDocumentType">
            <mat-option [value]="item.code">{{item.value}}</mat-option>
          </ng-container>
        </mat-select>
        <button *ngIf="customerEnterpriseForm.controls.documentType.value" matSuffix mat-icon-button type="button"
          class="btn-clear-drop"
          (click)="customerEnterpriseForm.controls.documentType.setValue(null); $event.stopPropagation();">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="customerEnterpriseForm.get('documentType').errors?.required">
          {{'customer-management.errorMessage.documentType' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="33.33" fxFlex.lt-sm="100" class="documentNumber">
      <mat-form-field appearance="outline">
        <mat-label>{{'customer-management.formCustomerRegister.documentNumber' |
          translate}}
          <span class="required">*</span>
        </mat-label>
        <input matInput placeholder="{{'customer-management.formCustomerRegister.documentNumber'
          | translate}}" formControlName="documentNumber" />
        <mat-error *ngIf="customerEnterpriseForm.get('documentNumber').errors?.required">
          {{'customer-management.errorMessage.documentNumber' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="33.33" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{'customer-management.formCustomerRegister.dateRange' |
          translate}} <span class="required">*</span>
        </mat-label>
        <input matInput placeholder="dd/mm/yyyy" [max]="dateNow" maskDate [matDatepicker]="pickerDateRange"
          formControlName="dateRange" #dateRangeId>
        <mat-datepicker-toggle matSuffix *ngIf="dateRangeId.value" class="showclearDatePopup"
          (click)="customerEnterpriseForm.controls.dateRange.setValue(null); $event.stopPropagation()">
          <mat-icon matDatepickerToggleIcon>close</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker-toggle matSuffix [for]="pickerDateRange"></mat-datepicker-toggle>
        <mat-datepicker #pickerDateRange></mat-datepicker>
        <mat-error *ngIf="customerEnterpriseForm.get('dateRange').errors?.required">
          {{'customer-management.errorMessage.dateRange' | translate}}
        </mat-error>
        <mat-error *ngIf="customerEnterpriseForm.get('dateRange').hasError('matDatepickerMax')">
          {{'customer-management.errorMessage.dateRangeMax' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="33.33" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{'customer-management.formCustomerRegister.placeOfIssue' |
          translate}} <span class="required">*</span></mat-label>
        <input matInput placeholder="{{'customer-management.formCustomerRegister.placeOfIssue'
          | translate}}" formControlName="placeOfIssue" />
        <mat-error *ngIf="customerEnterpriseForm.get('placeOfIssue').errors?.required">
          {{'customer-management.errorMessage.placeOfIssue' | translate}}
        </mat-error>
        <mat-error *ngIf="customerEnterpriseForm.get('placeOfIssue').errors?.maxlength">
          {{'common.validate.maxlength-255' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="33.33" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{'customer-management.formCustomerRegister.numberPhone' |
          translate}}</mat-label>
        <input matInput (keypress)="onKeypressNumberPhone($event)" placeholder="{{'customer-management.formCustomerRegister.numberPhone'
          | translate}}" formControlName="numberPhone" />
        <mat-error *ngIf="customerEnterpriseForm.get('numberPhone').errors?.pattern">
          {{'common.numberPhoneRegex' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="33.33" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{'customer-management.formCustomerRegister.city' |
          translate}} <span class="required">*</span>
        </mat-label>
        <mtx-select [items]="listOptionCity" bindLabel="value" bindValue="code" [multiple]="false"
          formControlName="city" (change)="dataChangeCity($event.code)" [notFoundText]="'common.notFound' | translate">
        </mtx-select>
        <mat-error *ngIf="customerEnterpriseForm.get('city').errors?.required">
          {{'customer-management.errorMessage.city' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="33.33" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{'customer-management.formCustomerRegister.district' |
          translate}} <span class="required">*</span>
        </mat-label>
        <mtx-select [items]="listOptionDistrict" (change)="dataChangeDistrict($event.code)" bindLabel="value"
          bindValue="code" [multiple]="false" formControlName="district" [notFoundText]="'common.notFound' | translate"
          [searchable]="listOptionDistrict?.length>10">
        </mtx-select>
        <mat-error *ngIf="customerEnterpriseForm.get('district').errors?.required">
          {{'customer-management.errorMessage.district' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="33.33" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{'customer-management.formCustomerRegister.ward' |
          translate}} <span class="required">*</span>
        </mat-label>
        <mtx-select [items]="listOptionWard" bindLabel="value" bindValue="code" [multiple]="false"
          formControlName="ward" [notFoundText]="'common.notFound' | translate"
          [searchable]="listOptionWard?.length>10">
        </mtx-select>
        <mat-error *ngIf="customerEnterpriseForm.get('ward').errors?.required">
          {{'customer-management.errorMessage.ward' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="33.33" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{'customer-management.formCustomerRegister.street' |
          translate}} <span class="required">*</span>
        </mat-label>
        <input matInput placeholder="{{'customer-management.formCustomerRegister.street' |
          translate}}" formControlName="street" />
        <mat-error *ngIf="customerEnterpriseForm.get('street').errors?.required">
          {{'customer-management.errorMessage.street' | translate}}
        </mat-error>
        <mat-error *ngIf="customerEnterpriseForm.get('street').errors?.maxlength">
          {{'common.validate.maxlength-255' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="33.33" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{'customer-management.formCustomerRegister.address' |
          translate}} <span class="required">*</span>
        </mat-label>
        <input matInput placeholder="{{'customer-management.formCustomerRegister.address' |
          translate}}" formControlName="address" />
        <mat-error *ngIf="customerEnterpriseForm.get('address').errors?.required">
          {{'customer-management.errorMessage.address' | translate}}
        </mat-error>
        <mat-error *ngIf="customerEnterpriseForm.get('address').errors?.maxlength">
          {{'common.validate.maxlength-510' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="33.33" fxFlex.lt-sm="100">
      <mat-form-field appearance="outline">
        <mat-label>{{'customer-management.formCustomerRegister.email' |
          translate}}
        </mat-label>
        <input matInput placeholder="{{'customer-management.formCustomerRegister.email' |
          translate}}" formControlName="email" />
        <mat-error *ngIf="customerEnterpriseForm.get('email').errors?.pattern">
          {{'common.emailRegex' | translate}}
        </mat-error>
        <mat-error *ngIf="customerEnterpriseForm.get('email').errors?.maxlength">
          {{'common.validate.maxlength-255' | translate}}
        </mat-error>
        <mat-error *ngIf="customerEnterpriseForm.get('email').errors?.cannotWhiteSpace">
          {{'common.space_error' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
