<!-- Thông tin chi tiết nhóm phản ánh -->
<h2 mat-dialog-title>{{ 'cateConfig.ticketGroup.createGroupReflects' | translate }}</h2>
<mat-dialog-content class='view-detail'>
  <div class="loading-icon" *ngIf="isLoading">
    <mat-spinner diameter="30" *ngIf="isLoading" mode="indeterminate" style="margin:0 auto;"></mat-spinner>
  </div>
  <form [formGroup]='form' class='form-field-full'>

    <!-- Row 1 -->
    <div fxLayout='row wrap' fxLayoutGap='20px grid'>
      <div fxFlex='50' fxFlex.lt-sm='100'>
        <mat-form-field appearance='outline'>
          <mat-label>Tên nhóm phản ánh
          </mat-label>
          <input trim='blur' required maxlength="255" matInput placeholder="{{'cateConfig.ticketGroup.ticketGroup' |
                            translate}}" formControlName='ticketTypeName' autocomplete='off' />
          <mat-error *ngIf="form.get('ticketTypeName').errors?.required">
            {{'cateConfig.validators.requiredInput' | translate}}
          </mat-error>
          <mat-error *ngIf="form.get('ticketTypeName').errors?.maxlength">
            {{'cateConfig.validators.maxLength-255' | translate}}
          </mat-error>
          <button *ngIf="form.controls.ticketTypeName.value" mat-button matSuffix mat-icon-button
            (click)='form.controls.ticketTypeName.setValue(null); $event.stopPropagation()' class='showclear'
            type='button'>
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <!-- Row 2 -->
    <div fxLayout='row wrap' fxLayoutGap='20px grid'>
      <mat-form-field appearance='outline'>
        <mat-label>Mô tả</mat-label>
        <textarea maxlength="1024" formControlName='description' type='text' matInput placeholder='Mô tả'></textarea>
        <mat-error *ngIf="form.get('description').errors?.maxlength">
          {{'cateConfig.validators.maxLength-1024' | translate}}
        </mat-error>
        <button *ngIf="form.controls.description.value?.length > 0" mat-button matSuffix mat-icon-button
          (click)='form.controls.description.setValue(null); $event.stopPropagation()' class='showclear' type='button'>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>

  <!-- Form Action -->
  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="flex-end" fxLayoutGap="10px" fxLayoutGap.xs="0"
    style="margin-right: 8px;">

    <!-- Button Lưu -->
    <button [disabled] = "isLoading" type='submit' (click)='doSave()' class='float-right ml-20' mat-button mat-raised-button color='primary'>Lưu
    </button>

    <!-- Button Đóng -->
    <button class='float-right ml-20' mat-button mat-raised-button color='secondary' mat-dialog-close>Đóng
    </button>

  </div>
</mat-dialog-content>
