<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.lt-sm="100">
    <br>
    <form [formGroup]="formSearch" class="form-field-full">
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{
              'customer-care.search-information-customer.fee_collection_method'
              | translate }}
            </mat-label>
            <mat-select formControlName="sourceTransaction">
              <mat-option value="">Tất cả</mat-option>
              <mat-option value="MTC">MTC</mat-option>
              <mat-option value="ETC">ETC</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{
              'customer-care.search-information-customer.type_station'
              | translate }} *</mat-label>
            <mat-select (selectionChange)="onchangeStationType($event.value)" formControlName="stationType">
              <mat-option [value]="food.code" *ngFor="let food of costTypeList">
                {{food.val}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{
              'customer-care.search-information-customer.stage'
              | translate }} *</mat-label>
            <mat-select formControlName="stageId">
              <mat-option [value]="active ? food.code : food.id" *ngFor="let food of arrStation">
                {{food.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="this.formSearch.controls['stageId'].hasError('required')">
              {{ 'customer-care.search-information-customer.requied' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{
              'customer-care.search-information-customer.date_impact_start_end'
              | translate }}
            </mat-label>
            <mat-date-range-input [rangePicker]="picker9" (click)="picker9.open()">
              <input matStartDate formControlName="startDate" #fromDateId maskDate
                placeholder="{{ 'common.fromDate' | translate }}">
              <input matEndDate formControlName="endDate" maskDate placeholder="{{ 'common.endDate' | translate }}"
                #endDateId>
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix *ngIf="fromDateId.value || endDateId.value" class="showclearDatePopup"
              (click)="formSearch.controls.startDate.setValue(null);formSearch.controls.endDate.setValue(null); $event.stopPropagation()">
              <mat-icon matDatepickerToggleIcon>
                close
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker-toggle matSuffix [for]="picker9">
            </mat-datepicker-toggle>
            <mat-date-range-picker #picker9>
            </mat-date-range-picker>
            <mat-error
              *ngIf="formSearch.get('startDate').errors?.required && formSearch.get('endDate').errors?.required">
              {{
              'briefcase.err-create-date-requied'
              |
              translate }}
            </mat-error>
            <mat-error
              *ngIf="formSearch.get('startDate').errors?.required && !formSearch.get('endDate').errors?.required">
              {{ 'briefcase.selectStartDate' |
              translate }}
            </mat-error>
            <mat-error
              *ngIf="!formSearch.get('startDate').errors?.required && formSearch.get('endDate').errors?.required">
              {{ 'briefcase.selectEndDate' |
              translate }}
            </mat-error>
            <mat-error *ngIf="formSearch.get('startDate').errors?.matStartDateInvalid">
              {{
              'customer.err_ResgiterFromDate'
              | translate
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="67" fxFlex.lt-sm="100">
          <button (click)="searchForm()" style="float: right; " mat-raised-button color="primary"
            [disabled]="formSearch.invalid">
            {{ 'common.button.search' |
            translate }}
          </button>
          <button style="float: right; margin-right: 5px;" mat-raised-button color="secondary">
            {{ 'common.exportExcel' | translate
            }}
          </button>
        </div>
        <div fxFlex="100" fxFlex.lt-sm="100">
          <common-list [headerTable]="'Lịch sử giao dịch xe qua trạm'" [dataSource]="dataModel.dataSource"
            [isLoading]="isLoading" [isPaging]="true" [totalRecord]="totalRecord" [columns]="columns"
            [selectionMode]="selectionMode" (page)="onPageChange($event)" [pageIndex]="pageIndex">
            <ng-template vtsTemplate="orderNumber" let-item let-index="index">
              {{this.searchModel.startrecord+index+1}}
            </ng-template>
          </common-list>
        </div>
      </div>
    </form>
  </div>
</div>
