.noRecored {
  text-align: center;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #c9cdd2;
  border-right: 1px solid #c9cdd2;
  border-left: 1px solid #c9cdd2;
  font-weight: 700;
}
.evenColumn-color {
  background-color: #f0f3f5;
}
.selectedRow {
  background-color: #eac8ad !important;
}
::ng-deep .mat-paginator-page-size-select {
  margin: 6px 4px 0 4px;
  width: 50px !important;
}
.loading-icon{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 111;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  position: relative;
}
.disabled-paging{
  background: rgba(0, 0, 0, 0.15);
}
