.config-time-item {
    width: 120px !important;
    margin-bottom: -15px !important;
}

.accordion-item {
    height: 320px;
}

.accordion-item1 {
    height: auto;
}

.mat-label-item {
    line-height: 30px;
    font-size: 17px;
}

.inputy_d {
    width: 100%;
    margin: -3px 0px 3px 0px;
    font-size: x-large;
}


/* input[type="time"]:before {
    content: 'hh: mm AM/PM';
    font-size: 15px;
}

input[type="time"]:hover:before {
    content: '';
} */